<div id="tooltip"><h5>Getting started is easy! Just click "New Post" to begin!</h5></div>

<button id="hide">Hide Tooltip</button>
<button id="show">Show Tooltip</button>
<hr>
<h1 class="text-center">My Everyday Awesome Moments</h1>
<hr/>
<h3 class="text-center">Posts This Week</h3>

<script type="text/javascript">
$(function () {
    var $tooltip = $("#tooltip");
    var $hide = $("#hide");
    $hide.click(function () {
        $tooltip.hide(1000);
    });
    $("#show").click(function() {
        $tooltip.show(1000);

    });
});
</script>
<table class="table">
  <tr>
    <!--<th>Journal</th>-->
    <th>Date</th>
    <th>Title</th>
    <th>Body</th>
    <th>Author</th>
    <th>Awesomeness</th>
    <th></th>
    <th></th>
  </tr>

<% @past_week.each do |post| %>
  <% if post.author == current_user.name %>
  <tr>

    <!--<td><%= post.journal %></td>-->
    <td><%= post.date %></td>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= post.author %></td>
    <td><%= post.rating %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</table>
<h3 class="text-center"> All Posts </h3>
<table class="table">
  <tr>
    <!--<th>Journal</th>-->
    <th>Date</th>
    <th>Title</th>
    <th>Body</th>
    <th>Author</th>
    <th>Awesomeness</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <% if post.author == current_user.name %>
  <tr>
    <!--<td><%= post.journal %></td>-->
    <td><%= post.date %></td>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= post.author %></td>
    <td><%= post.rating %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path , :class => "btn btn-primary" %>
